@import '../../styles/variables.scss';

.convo-opt {
  margin-right: 10px;
  button {
    z-index: 5;
  }
  .dropdown-outside-wrapper {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
  }
  .convo-opt-dropdown {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    top: 60px;
    right: 50%;
    background-color: transparent;
    padding: 20px 10px;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.2);
    border-radius: 8px;
    width: 175px;
    &.opened {
      display: flex;
      opacity: 1;
      background-color: white;
      z-index: 5;
      & + div {
        display: block; 
        z-index: 4;
      }
    }
    ul {
      width: 100%;
      li {
        font-size: 16px;
        font-weight: 500;
        color: $textGrey;
        margin-bottom: 5px;
        border: 1px solid transparent;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          display: block;
          padding: 10px;
        }
        &:hover {
          border-radius: 5px;
          background-color: $ltGrey;
          border: 1px solid $grey;
          cursor: pointer;
        }
      }
    }
  }
}