@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

@import './reset.scss';
@import './variables.scss';
* {
  box-sizing: border-box;
}

body {
  h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
  }
  font-family: 'Open Sans', sans-serif;
  #app {
    height: 100vh;
  }

  input {
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
  }

  button {
    background-color: transparent;
    color: $textGrey;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid $textGrey;
    transition: all 0.3s ease-in-out;
    
    &:hover {
      cursor: pointer;
      color: white;
      background-color: $textGrey;
      border: 1px solid transparent;
    }
  }
  
  button[class^="mobile-"] {
    @media only screen and (min-width: $bp-tablet-upper) {
      display: none;
    }
  }
  
}

